<%= error_messages_for(@board) %>

<table summary="Board form fields">
  <tr>
    <th><%= f.label(:name, "Name") %></th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:positions) %></th>
    <td><%= f.text_field(:positions) %></td>
  </tr>
  <tr>
    <th><%= f.label(:flags) %></th>
    <td><%= f.text_field(:flags) %></td>
  </tr>
  <tr>
    <th><%= f.label(:current_version) %></th>
    <td><%= f.number_field(:current_version) %></td>
  </tr>
</table>