<% @page_title = "Delete Board" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="boards delete">
  <h2>Delete Board</h2>

  <%= form_for(:board, :url => {:action => 'destroy', :id => @board.id}) do |f| %>

    <p>Are you sure you want to permanently delete this subject?</p>

    <p class="reference-name"><%= @board.name %></p>

    <div class="form-buttons">
      <%= submit_tag("Delete Board") %>
    </div>

  <% end %>
</div>
