<% @page_title = "Update Board" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="board edit">
  <h2>Update Board</h2>

  <%= form_for(:board, :url => {:action => 'update', :id => @board.id}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Update Board") %>
    </div>

  <% end %>
</div>
