

<% content_for(:head) do %>
  <%= javascript_include_tag 'play' %>
<% end %>

<div class="play edit">
  <h2 id="topTitle">Board</h2>

  <table align=center id="sudoku" cellspacing=0>

  <%  (0..8).each do |row| %>
    <tr>

    <%  (0..8).each do |col| %>
      <%= content_tag( :td, nil, {id: "r#{row}c#{col}"}) %>    
    <% end %>

  <% end %>
 
  </table>

  <div class=buttonBox>
    
    <button type="button" class="actionButton" id="clearButton">Clear</button>
    <button type="button" class="actionButton" id="hintButton">Hint</button>
    <button type="button" class="actionButton" id="solveButton">Solve</button>
    <button type="button" class="actionButton" id="nextButton">New Game</button>
  </div>
</div>

