<% @page_title = "New Board" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="boards new">
  <h2>Create Board</h2>

  <%= form_for(:board, :url => {:action => 'create'}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Create Board") %>
    </div>

  <% end %>
</div>
