<% @page_title = "Show Board" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="board show">
  <h2>Show Board</h2>

  <table summary="Board detail view">
    <tr>
      <th>Name</th>
      <td><%= @board.name %></td>
    </tr>
    <tr>
      <th>Positions</th>
      <td><%= @board.positions %></td>
    </tr>
    <tr>
      <th>Flags</th>
      <td><%= @board.flags %></td>
    </tr>
    <tr>
      <th>Version</th>
      <td><%= @board.current_version %></td>
    </tr>
  </table>

</div>
