/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* change this to be able to see hidden field. */

 .debugData {
 	display: none;
 }

 h2 {
 	text-align: center
 }

table#sudoku td	{
	width: 2.5em; 
	height:2.5em;
	font-size: 120%;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	text-align: center
}

table#sudoku {
	border-width: 3px;
	border-style: solid;
	border-color: black
}

table#sudoku td[id$=c2] {border-right-width: 3px}
table#sudoku td[id$=c5] {border-right-width: 3px}
table#sudoku td[id^=r2] {border-bottom-width: 3px}
table#sudoku td[id^=r5] {border-bottom-width: 3px}


td.constant {
	font-weight: bold;
	}

td.enterable {background-color: #A9F5F2 }

td.selected	{background-color: #F5F6CE }

td.cellError {color: red}

div.buttonBox {
    clear:both;
    text-align: center;
    margin: 4px;

button.actionButton { 
    
  padding: 3px;
  width: 20%;
  /* display: inline; */
  float: left;
  margin: 10px auto;
  
}
